<div class="card">
   <div class="card-header bg-default">Add Item</div>
   <div class="card-body col-md-8">
      <div class="form-group row">
         <label for="lblToDoTask" class="col-md-2 col-form-label">To Do Task: </label>
         <div class="col-md-8">
            <input type="text" class="form-control" [(ngModel)]="txtToDoTask">
         </div>
         <div class="col-md-2">
            <button (click)="NotificationToParent(txtToDoTask)" class="btn btn btn-success">
               Add
            </button>
         </div>
      </div>
   </div>
</div>